@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  display: flex;
  background-color: rgba(240, 237, 237, 0.866);
  overflow-y: hidden;
}

.section-imgFundo {
  width: 30%;
  position: relative;
}
.section-imgFundo > img {
  width: 100%;
  height: 100%;
}

.section-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  gap: 10px;
  width: 100%;
  background-color: rgba(17, 17, 17, 0.379);
  position: absolute;
  top: 150px;
  z-index: 1;
}

.section-logo p {
  color: white;
  font-size: 4rem;
  font-family: "Caesar Dressing", system-ui;
}
.section-form {
  width: 70%;
  font-family: "Roboto", sans-serif;
}

.section-form__text {
  margin-top: 80px;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 40px;
}
.section-form form {
  background-color: white;
  padding: 20px 40px;
  box-shadow: 5px 5px 10px rgba(115, 116, 117, 0.5);
}
.section-form h2 {
  margin-bottom: 10px;
}
.form-campos {
  display: flex;
  gap: 60px;
}
.form-campos div {
  width: 320px;

  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  margin-bottom: 18px;
  font-size: 1.1rem;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid #e5e7eb;
  outline: none;
}

input:focus {
  border-color: blue;
  outline: none;
  box-shadow: 5px 5px 10px rgba(115, 116, 117, 0.5);
}
input:invalid {
  border-color: red;
  outline: none;
}

.form-campos div label {
  color: rgb(79, 78, 78);
}

.btn-conta {
  padding: 30px 40px;
}
.btn-conta button {
  padding: 8px 35px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  background-color: rgba(55, 117, 55, 0.854);
  cursor: pointer;
}

.btn-conta button:hover {
  background-color: rgba(73, 147, 73, 0.854);
}

.login {
  font-size: 1rem;
  font-weight: 600;
  padding: 0 40px;
  margin-bottom: 200px;
}

.login span {
  color: rgba(55, 117, 55, 0.854);
  font-weight: 600;
  cursor: pointer;
}
